h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
  color: white;
  height: 90px;
  width: 100%;
}

h2 {
  color: blue;
  font-size: 40px;
  margin-left: 40px;
}

li {
  font-size: 20px;
  margin: 20px 0px;
  margin-left: 60px;
}

.importante {
  text-decoration-line: underline;
  font-weight: bold;
}

table {
  height: 300px;
  width: 400px;
  text-align: center;
  margin-left: 60px;
}

thead {
  background-color: midnightblue;
  color: white;
  height: 55px;
}

tbody {
  background-color: cornflowerblue;
}

#descanso {
  background-color: lightblue;
}
