* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header > h1 {
  margin: 10px;
}

.menu1 {
  display: flex;
  justify-content: center;
}

.menu1 > li {
  margin: 10px;
}

.menu2 {
  display: flex;
  justify-content: space-evenly;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

main {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  justify-content: space-around;
}

main > article {
  margin: 20px 0px;
}

/* .foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: var(--primary);
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10vh 100% 4vh;
    grid-template-areas:
      "header header header header header header"
      "nav main main main main main"
      "footer footer footer footer footer footer";
  }
  body > header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav {
    grid-area: nav;
  }

  .menu2 {
    display: flex;
    flex-direction: column;
  }

  .menu2 > li {
    padding-left: 20px;
  }

  main > article {
    margin: 40px;
  }

  body > main {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
  }

  body > footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
  }
}

/* h1 {
  text-align: center;
  color: aqua;
}

form {
  text-align: center;
}

input {
  border: 1px solid aqua;
}

button {
  background-color: aqua;
  color: white;
}

.menu1 {
  display: flex;
  justify-content: center;
}

.menu2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.list-items {
  color: aqua;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}

article {
  margin-left: 100px;
  width: 300px;
  border: 3px solid aqua;
  border-radius: 5%;
  height: 400px;
}

.photo {
  border-radius: 5%;
  height: 50%;
  width: 100%;
}

p {
  background-color: white;
  border: 0px;
}

h2 {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0;
}

.price {
  display: flex;
  justify-content: end;
}

footer {
  display: flex;
  justify-content: center;
  color: aqua;
  text-decoration: none;
}

.foot {
  text-decoration: none;
  color: aqua;
} */
